<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Browser" value="Chrome"/>
		<add key="SauceTest" value="false"/>
		<add key="Host" value="https://opensource-demo.orangehrmlive.com/web/index.php"/>
		<add key="Username" value="Admin"/>
		<add key="Password" value="admin123"/>
	</appSettings>
</configuration>